.card-holder{
  display:flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  padding:0;
  margin: 0;
  
}
@media screen and (max-width: 1199px) {
  .card-holder:after{
    height: 30px;
    display: block;
    background: transparent;
    border-bottom: 1px solid var(--row-gray);
    content: '';
    /* responsive sizing smaller than full width */
    width: 89%;
    position:absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -30px;
    /* also need an adjusted gap, will need double the size on a media query */
  }
  .card-holder:last-of-type:after{
    border: none;
  }
}
.card{
  display: flex;
  color: var(--dark-gray);
  gap: 19px;
  min-width: 550px;
  border: 1px solid var(--dark-gray);
  padding: 1px;
  border-radius: 5px;
}
.card--image-div{
  height: var(--image-height-normal);
  width: var(--image-width-normal);
  border-radius: 5px;
  overflow: hidden;
}
.card--image-div img{
  height: var(--image-height-normal);
  width: var(--image-width-normal);
}
.card--textcontent{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
}
.card--toptext{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--font-medium);
  font-weight: 400;
}
.card--toptext h3{
  font-weight: normal;
}
.card--toptext i{
  color: var(--red);
  padding-right: 2px;
}
.card--toptext a{
  color: var(--gray);
}
.card--title{
  font-size: var(--title-medium);
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 7px;
}
.card--dates{
  font-size: var(--font-medium);
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 9px;
}
.card--description{
  margin-top: 0;
  text-align: left;
  font-size: var(--font-medium);
  max-width: 25vw;
}
.card--line{
  display: none;
}
/* add a media query for medium size screens (1200 for smaller card properties, maybe do 1 column at 1000), use a different width for cards 
and an inbetween image size */
@media screen and (max-width: 800px) {
  .card--image-div{
    height: var(--image-height-small);
    width: var(--image-width-small);
  }
  .card--image-div img{
    height: var(--image-height-small);
    width: var(--image-width-small);
  }
   .card--toptext{
    gap: 12px;
    font-size: var(--font-small);
  }
  .card--title{
    font-size: var(--title-small);
    margin-bottom: 7px;
  }
  .card--dates{
    font-size: var(--font-small);
    margin-bottom: 9px;
  }
  .card--description{
    font-size: var(--font-small);
    max-width: 75vw;
  }
  .card{
    gap: 19px;
  }
  .card--line{
    display: block;
    width: 100%;
    height: 2px;
    border: 1px solid var(--row-gray);
  }
}

