:root{
  --font: font-family: 'Inter', sans-serif;;
  --gray: #918E9B;
  --dark-gray: #2B283A;
  --red: #F55A5A;
  --row-gray: #F5F5F5;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
